/* Mobile */
header {
    display: flex;
    align-items: center;
    background-color: #50a780;
    font-family: 'Roboto', sans-serif;
    height: 8%;
    justify-content: space-around;
}

header .menu-icon {
    color: #ffffff;
    font-size: 20px;
    margin-left: 15px;
}

header .navegate {
    display: none;
}

header a {
    text-decoration: none;
}

header .buttons{
    display: flex;
    width: 240px;
    justify-content: space-around;
}

header .buttons button {
    width: 100px;
    margin: 5px;
    font-size: 19px;
    border-style: none;
    border-radius: 200px;
    background-color: #ffffff;
    padding: 0 15px;
}
header .search {
    display: none ;
    width: 30%;
    height: 30%;
}


.icon-mobile {
    color: #ffffff;
}



/* Tablet */
@media screen and (min-width: 768px){

    header .menu-icon {
        order: 1;
    }

    header .navegate {
        display: flex;
        order: 2;
        font-size: 16px;
    }
    header .navegate a {
        text-align: center;
        font-size: 70%;
        text-decoration: none;
        color: #000;
        padding: 0px 16px 0 16px;
    }
    header .navegate a:visited{
        color:#000
    }

    header .buttons button {
        border-style: none;
        background-color: #ffffff;
        padding: 2% 3%;
        color: #000;
        font-size: 90%;
        width: 35%;
    
    }

    header .search {
        display: flex;
        width: 30%;
        height: 30%;
    }

    header .search {
         order: 3;
    }

    header .buttons {
        order: 4;
        width: 26%;
    }
    .search {
        display: flex;
        align-items: center;
        background: white;
        width: 17%;
        justify-content: space-around;
        padding: 7px;
        border-radius: 200px;
    }

    .search input {
        border: none;
        font-size: 100%;
        width: 100%;
    }
    .search i {
        font-size: 20px;
        margin-bottom: 3px;
        color: #373867;
    }
     .icon-mobile {
         display: none;
     }
     header .search {
        display: flex ;
    }
}

@media screen and (min-width: 1024px){

    header {
        height: 7%;
    }

    header .menu-icon {
        font-size: 100%;
        margin-left: 25px;
    }

    header .navegate {
        font-size: 26px;
    }

    header .navegate a {
        font-size: 60%;
        padding: 0px 16px 0 16px;
    }

    .search {
        display: flex;
        align-items: center;
        background: white;
        width: 17%;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
        border-radius: 200px;
        width: 20%;
    }

    .search input {
        border: none;
        font-size: 20px;
        width: 100%;
    }
    .search i {
        font-size: 20px;
        margin-bottom: 3px;
        color: #373867;
    }

    .icon-mobile {
        display: none;
    }
    
}