<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACKGENIX</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn.worldvectorlogo.com/logos/tether.svg">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/employee-signup.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
    <header>
        <div class="menu-icon">
            <i class="fa fa-bars header-icon"></i>
        </div> 
        <div class="navegate">
            <a href="">Tutorials | Contact</a>
        </div>   
        <div class="buttons">
            <button><a href="index.html">Home</a></button>
            <button><a href="login.html">Login</a></button>
        </div>
        <div class="search">
            <div class="input">
                <input type="search" placeholder="Search">
            </div>
            <div class="icon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="icon-mobile">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>
    <main>
        <div class= "title-and-logo">
            <div class="title">
                <h1>TRACKGENIX</h1>
                <h3>DATA MANAGEMENT</h3>
            </div>
            <div class="logo">
                <img src="https://cdn.worldvectorlogo.com/logos/tether.svg">
            </div>
        </div>
        <h2>SIGN UP</h2>
        <form>
            <div class="login-signup-form">
                <div class="form1">
                    <label>First Name</label>
                    <input type="text" placeholder="Firt Name">
                    <span class="error">Must contain more than 3 letters.</span>
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name">
                    <span class="error">Must contain more than 3 letters.</span>
                    <label>ID number</label>
                    <input type="text" placeholder="ID Number">
                    <span class="error">Must contain more than 7 numbers.</span>
                    <label>Date of Birth</label>
                    <input type="date" placeholder="dd/mm/aaaa">
                    <span class="error">Invalid date</span>
                    <label>Telefone</label>
                    <input type="number" placeholder="Telefone">
                    <span class="error">Must contain 10 numbers.</span>
                    <label>Address</label>
                    <input type="text" placeholder="Address">
                </div>
                <div class="form2">
                <span class="error">Must have at least 5 characters with letters, numbers and a space in between.</span>
                    <label>Location</label>
                    <input type="text" placeholder="Location">
                    <span class="error">Must contain more than 3 letters.</span>
                    <label>Postal Code</Code></label>
                    <input type="number" placeholder="Postal Code">
                    <span class="error">Must contain 4 or 5 numbers.</span>
                    <label>E-mail</label>
                    <input type="text" placeholder="E-mail">
                    <span class="error">invalid Email</span>
                    <label>Password</label>
                    <input type="text" placeholder="Password">
                    <span class="error">Must have at least 8 characters, made up of letters and numbers.</span>
                    <label>Confirm Password</label>
                    <input type="text" placeholder="Confirm Password">
                    <span class="error">Must have at least 8 characters, made up of letters and numbers.</span> 
                </div>
            </div>
            <div class="create-button">
                <button>Create</button>
            </div>
        <form>
    </main>
    <footer>
        <div class="footer">
            <span> <i class="fa fa-linkedin-square" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i><i class="fa fa-github" aria-hidden="true"></i></span>
        </div>
        <div class="direc"><h5>Montevideo, Uruguay</h5></div>
        <div class="Copyright"><h5>Copyright 2022 Radium Rocket. All rights reserved.</h5></div>
    </footer>
</body>
</html>