footer{
    display: flex;
    width: 100%;
    padding: 16px 0;
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    flex-direction: column;
}

span i {
    font-size: 1px;
    padding: 5px;
    margin-bottom: 1%;
    color: gray;
}
.direc{
    color:#50a780;
}

@media screen and(min-width:768px) {
    footer{
        font-size: 24px;
    }
}
