.aside-main {
    display: flex;
    height: 100%;
}
main{
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin-top: 30px;
}

.title-and-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-and-logo .logo{
    order: 1;
}
.title-and-logo .title{
    order: 2;
}

.logo img{
    width: 60px;
    height: 60px;
}
.title h1 {
    font-size: 34px;
    margin-left: 10px;
    letter-spacing: 3px;
}
.title h3 {
    font-size: 20px;
    margin-left: 34px;
    letter-spacing: 1px;
}
.presentation{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.presentation img{
    margin-top: 10%;
}
.presentation p {
    text-align: center;
    margin-top: 1px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: auto;
    margin-bottom: 20px;
}
.features .feature{
    width: 50%;
    margin-bottom: 40px;
}
.features .feature:last-child {
    width: 100%;
}

.features figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFE7E7;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100px;
    font-size: 14px;
    text-align: center;
    margin: auto;
}
.features figure img {
    width: 100px;
    height: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

}
.features figure label{
    padding: 4px;
}

.questions{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

}

.questions h4{
    font-size: 25px;
    margin-bottom: 15px;
}

.questions ul{
    margin-bottom: 15px;
}

.about-us{
    width: 80%;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 20px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-bottom: 20px;

}

.about-us h4{
    font-size: 12px;
    margin-bottom: 2px;

}
.about-us h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}
p{
    font-size: 10px;
    margin: 10px;
}
.img1, .img2{
   width: 100px;
   margin-bottom: 5px;
}

.about-us .text-img1{
    display: flex;
}

.about-us .text-img2{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
/* @media screen and (min-width: 768px){
    .anide-main{
        widt
} */
