.aside-main {
    display: flex;
    height: 100%;
    justify-content: center;
}
main{
    display: flex;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;

}
.conteiner{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.title-and-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-and-logo .logo{
    order: 1;
}
.title-and-logo .title{
    order: 2;
}

.logo img{
    width: 60px;
    height: 60px;
}
.title h1 {
    font-size: 34px;
    margin-left: 10px;
    letter-spacing: 3px;
}
.title h3 {
    font-size: 20px;
    margin-left: 34px;
    letter-spacing: 1px;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation img{
    width: 100%;
    margin-top: 10%;
}
.presentation p {
    text-align: center;
    margin-top: 1px;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFE7E7;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100px;
    font-size: 14px;
    text-align: center;
    margin: 5%;
}
img {
    display: flex;
    width: 100px;
    flex-direction: column;

}

/* @media screen and (min-width: 768px){
    .anide-main{
        widt
} */
