*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0 auto;
    padding: 0 30px;
}
.menu-icon, .search-icon{
    color: #ffffff;
}
.container{
    background-color: #50a780;
    height: 57px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center ;
}   

#navegate, .search-bar {
    display: none;
}

button{
    background-color: #ffffff;
    width: 90px;
    height: 23px;
    margin-top: 8px;
    border-radius: 200px;
}
.login button , .signup button{
    display: flex;

}
