*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    min-width: 480px;
}

.container{
    display: flex;
    justify-content:space-around;
    background-color: #50a780;
    height: 57px;
    display: flex;
    align-items: center ;
    color: #ffffff;
    text-align: center;
}   

#navegate, .search-bar {
    display: none;
}
button{
    width: 90px;
    height: 23px;
    margin-top: 8px;
    border-radius: 200px;
}

/* .menu-icon{
    order: 1;
}
.search{
    order: 4;
}
.login{
    order: 2;
}

.signup{
    order: 3;
} */
